$colors:red,green,white,blue;

@each $color in $colors {
    .back-#{"" + $color} {
        background-color: $color;
    }
}

.back-light-blue {
    background-color: rgb(0, 183, 255);
}

.back-yellow-light {
    background-color: rgb(153, 151, 24);
}