@for $i from 1 to 10 {
    .flex-#{$i} {
        flex: #{$i};
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}