@for $i from 1 through 100 {
    .h-#{$i}pc {
        height: #{$i} + "%";
    }

    .lh-#{$i} {
        line-height: #{$i} + "px";
    }
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100vh;
}