@for $i from 1 through 100 {
    .p-#{$i} {
        padding: #{$i} + 'px';
    }

    .pt-#{$i}{
        padding-top: #{$i} + 'px';
    }

    .pr-#{$i}{
        padding-right: #{$i} + 'px';
    }

    .pb-#{$i}{
        padding-bottom: #{$i} + 'px';
    }

    .pl-#{$i}{
        padding-left: #{$i} + 'px';
    }
}