@for $i from 1 through 100 {
    .p-#{$i} {
        margin: #{$i} + 'px';
    }

    .pt-#{$i}{
        margin-top: #{$i} + 'px';
    }

    .pr-#{$i}{
        margin-right: #{$i} + 'px';
    }

    .pb-#{$i}{
        margin-bottom: #{$i} + 'px';
    }

    .pl-#{$i}{
        margin-left: #{$i} + 'px';
    }
}