$weights: 300,400,500,600,700,800,900;
@for $i from 8 through 100 {
    .font-#{$i} {
        font-size: #{$i} + "px";
    }
}

@each $weight in $weights {
    .font-weight-#{$weight}{
        font-weight: $weight;
    }
}

.text-center {
    text-align: center;
}

.text-red {
    color: rgb(255, 65, 65);
}

.text-white {
    color: white;
}

.text-green {
    color: rgb(8, 177, 8);
}

.text-disabled {
    color: rgb(101, 101, 101);
}

.text-primary {
    color: rgb(52, 133, 255);
}

.text-through-line {
    text-decoration: line-through;
}

.text-under-line {
    text-decoration: underline;
}

.text-nowrap {
    white-space: nowrap;
}

.text-right {
    text-align: right;
}